<p id="notice"><%= notice %></p>

<h1>Food Trucks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Menu</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_trucks.each do |food_truck| %>
      <tr>
        <td><%= food_truck.name %></td>
        <td><%= food_truck.location %></td>
        <td><%= food_truck.menu %></td>
        <td><%= food_truck.price %></td>
        <td><%= link_to 'Show', food_truck %></td>
        <td><%= link_to 'Edit', edit_food_truck_path(food_truck) %></td>
        <td><%= link_to 'Destroy', food_truck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food Truck', new_food_truck_path %>
